html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "IranSans";
  src: url(../fonts/IRANSans/IRANSans_Medium.ttf);
}
/* Start Top-Bar Styles */
.top-bar {
  color: #464749;
  padding: 1rem 0;
  background-color: #f0f2f7;
}
.top-bar .container-fluid .top-bar__content {
  display: flex;
  justify-content: space-between;
  padding: 0 1.5rem;
}
.top-bar .container-fluid .top-bar__content .top-bar__right {
  display: flex;
}
.top-bar .container-fluid .top-bar__content .top-bar__right .top-bar__menu {
  display: flex;
}
.top-bar .container-fluid .top-bar__content .top-bar__right .top-bar__menu .top-bar__item .top-bar__link {
  color: #464749;
  transition: all 0.4s ease;
  font-size: 1.5rem;
  padding: 0 1rem;
}
.top-bar .container-fluid .top-bar__content .top-bar__right .top-bar__menu .top-bar__item .top-bar__link:hover {
  color: #1e83f0;
}
.top-bar .container-fluid .top-bar__content .top-bar__left {
  display: flex;
}
.top-bar .container-fluid .top-bar__content .top-bar__left .top-bar__email {
  display: flex;
  align-items: center;
}
.top-bar .container-fluid .top-bar__content .top-bar__left .top-bar__email .top-bar__email-text {
  padding: 0 0.8rem;
}
.top-bar .container-fluid .top-bar__content .top-bar__left .top-bar__email .top-bar__email-icon {
  color: #2bce56;
  font-size: 2rem;
}
.top-bar .container-fluid .top-bar__content .top-bar__left .top-bar__phone {
  display: flex;
  align-items: center;
}
.top-bar .container-fluid .top-bar__content .top-bar__left .top-bar__phone .top-bar__phone-text {
  padding: 0 0.8rem;
}
.top-bar .container-fluid .top-bar__content .top-bar__left .top-bar__phone .top-bar__phone-icon {
  color: #2bce56;
  font-size: 2rem;
}

/* Finish Top-Bar Styles */
/* Start Navbar Styles */
.main-header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 1.5rem;
}
.main-header__content .main-header__right {
  display: flex;
}
.main-header__content .main-header__right .main-header__menu {
  display: flex;
}
.main-header__content .main-header__right .main-header__menu .main-header__item {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0 1rem;
}
.main-header__content .main-header__right .main-header__menu .main-header__item .main-header__link {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.main-header__content .main-header__right .main-header__menu .main-header__item .main-header__link:hover {
  color: #7f8187;
}
.main-header__content .main-header__right .main-header__menu .main-header__item .main-header__link .main-header__link-icon {
  margin-right: 1rem;
}
.main-header__content .main-header__right .main-header__menu .main-header__item .main-header__dropdown {
  position: absolute;
  top: 5.5rem;
  left: 0;
  right: 0;
  background-color: #fff;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 0.5rem;
  width: 24rem;
  z-index: 1;
  padding: 1rem 0;
  border-bottom: 3px solid #2bce56;
  opacity: 0;
  visibility: hidden;
}
.main-header__content .main-header__right .main-header__menu .main-header__item .main-header__dropdown .main-header__dropdown-link {
  display: block;
  padding: 0.6rem 2rem;
  font-size: 1.4rem;
  color: #464749;
  transition: all 0.4s ease;
}
.main-header__content .main-header__right .main-header__menu .main-header__item .main-header__dropdown .main-header__dropdown-link:hover {
  color: #1e83f0;
}
.main-header__content .main-header__right .main-header__menu .main-header__item:hover .main-header__dropdown {
  opacity: 1;
  visibility: visible;
  top: 6.5rem;
}
.main-header__content .main-header__left {
  display: flex;
  align-items: center;
}
.main-header__content .main-header__left .main-header__search-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4.3rem;
  height: 4.3rem;
  border-radius: 0.5rem;
  background-color: #2bce56;
}
.main-header__content .main-header__left .main-header__search-btn .main-header__search-icon {
  color: #fff;
  font-size: 2.2rem;
}
.main-header__content .main-header__left .main-header__cart-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4.3rem;
  height: 4.3rem;
  border-radius: 0.5rem;
  margin-right: 1rem;
  background-color: #f0f2f7;
}
.main-header__content .main-header__left .main-header__cart-btn .main-header__cart-icon {
  color: #464749;
  font-size: 2.2rem;
  transition: all 0.4s ease;
}
.main-header__content .main-header__left .main-header__cart-btn:hover .main-header__cart-icon {
  color: #1e83f0;
}
.main-header__content .main-header__left .main-header__profile {
  display: flex;
  align-items: center;
  padding: 0.6rem 1.5rem;
  border: 2px solid #2bce56;
  border-radius: 0.5rem;
  margin-right: 1rem;
  transition: all 0.4s ease;
  color: #2bce56;
  height: 4.3rem;
}
.main-header__content .main-header__left .main-header__profile:hover {
  background-color: #2bce56;
  color: #fff;
}

/* Finish Navbar Styles */
/* Start Default Styles */
*,
*::after,
*::before {
  outline: none;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
html body {
  line-height: 1.6;
  font-size: 1.6rem;
  font-family: IranSans;
  direction: rtl;
}
html body a {
  text-decoration: none;
  color: #464749;
  transition: all 400ms ease;
}
html body a:hover {
  color: #1e83f0;
}
html body i {
  user-select: none;
}

/* Finish Default Styles */
/* Start Footer Styles */
.footer .footer-widgets {
  background-color: #f0f2f7;
  border-radius: 1rem;
  padding: 4rem 3.5rem;
  position: relative;
  margin-bottom: 5rem;
}
.footer .footer-widgets .footer-widget__item .footer-widget__title {
  display: block;
  font-size: 1.7rem;
  font-weight: bold;
  margin-bottom: 2rem;
  position: relative;
}
.footer .footer-widgets .footer-widget__item .footer-widget__title::before {
  content: "";
  position: absolute;
  width: 3.5rem;
  height: 3.5rem;
  background-color: #2bce56;
  border-radius: 0.7rem;
  right: 1rem;
  opacity: 0.3;
  transform: rotate(45deg);
}
.footer .footer-widgets .footer-widget__item .footer-widget__text {
  color: #7d7e7f;
}
.footer .footer-widgets .footer-widget__item .footer-widget__links {
  display: flex;
  flex-direction: column;
}
.footer .footer-widgets .footer-widget__link {
  display: block;
  margin-bottom: 1rem;
}
.footer .footer-widgets::before {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  bottom: -1.5rem;
  margin: 0 auto;
  height: 4rem;
  width: 50rem;
  background-color: #2bce56;
  z-index: -1;
  border-radius: 5rem;
}
.footer .footer__copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f2f7;
  padding: 3rem 0;
}
.footer .footer__copyright .footer__copyright-text {
  color: #464749;
  font-weight: bold;
}

/* Finish Footer Styles */
/* Start breadcrumb Styles */
.breadcrumb {
  margin-bottom: 2rem;
}
.breadcrumb .breadcrumb__content {
  display: flex;
  background-color: #f0f2f7;
  padding: 1.5rem 2rem;
  border-radius: 1rem;
}
.breadcrumb .breadcrumb__content .breadcrumb__home-content-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.6rem;
  height: 3.6rem;
  background-color: #fff;
  border-radius: 1rem;
}
.breadcrumb .breadcrumb__content .breadcrumb__home-content-icon .breadcrumb__home-icon {
  font-size: 1.8rem;
  color: #909aa7;
}
.breadcrumb .breadcrumb__content .breadcrumb__list {
  display: flex;
  align-items: center;
  margin-right: 1.5rem;
}
.breadcrumb .breadcrumb__content .breadcrumb__list .breadcrumb__item .breadcrumb__link {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  color: #7f8187;
}
.breadcrumb .breadcrumb__content .breadcrumb__list .breadcrumb__item .breadcrumb__link:hover {
  color: #7f817f;
}
.breadcrumb .breadcrumb__content .breadcrumb__list .breadcrumb__item .breadcrumb__link .breadcrumb__icon {
  color: #7f817f;
  font-size: 1.5rem;
  margin: 0 0.7rem;
}

/* Finish breadcrumb Styles */
.courses-info {
  top: 2rem;
  position: sticky;
}
.courses-info .course-info {
  border-radius: 0.5rem;
  margin-top: 1rem;
  padding: 2.2rem;
  box-shadow: 0 0 13px 1px rgba(70, 72, 77, 0.08);
  border: 1px solid #f2f2f2;
}
.courses-info .course-info .course-info__courses-title {
  font-size: 1.8rem;
  display: block;
  color: #464749;
  margin-bottom: 1.5rem;
}
.courses-info .course-info .courses-info__courses-list-item {
  margin-bottom: 2rem;
}
.courses-info .course-info .courses-info__courses-list-item .course-info__courses-link {
  display: flex;
  align-items: center;
}
.courses-info .course-info .courses-info__courses-list-item .course-info__courses-link .course-info__courses-img {
  width: 70px;
  border-radius: 0.5rem;
}
.courses-info .course-info .courses-info__courses-list-item .course-info__courses-link .course-info__courses-text {
  font-size: 1.3rem;
  margin-right: 0.5rem;
  color: #8d8d8d;
  font-weight: bold;
  transition: all 400ms ease;
}
.courses-info .course-info .courses-info__courses-list-item .course-info__courses-link .course-info__courses-text:hover {
  color: #1e83f0;
}

/* Start Sidebar Styles */
.course-info {
  overflow: hidden;
}
.course-info .course-info__courses-title {
  position: relative;
}
.course-info .course-info__courses-title::before {
  content: "";
  position: absolute;
  width: 22px;
  height: 39px;
  background-color: #2bce56;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 12px;
  right: -27px;
  top: -10px;
  transform: skew(-10deg);
}
.course-info .sidebar-articles__list,
.course-info .last-articles__list {
  margin-top: 2rem;
}
.course-info .sidebar-articles__list .sidebar-articles__item,
.course-info .sidebar-articles__list .last-articles__item,
.course-info .last-articles__list .sidebar-articles__item,
.course-info .last-articles__list .last-articles__item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eeeeee;
  padding: 0.9rem 1.3rem 0.9rem 1rem;
  transition: all 0.4s ease;
}
.course-info .sidebar-articles__list .sidebar-articles__item:hover,
.course-info .sidebar-articles__list .last-articles__item:hover,
.course-info .last-articles__list .sidebar-articles__item:hover,
.course-info .last-articles__list .last-articles__item:hover {
  padding-right: 2rem;
  background-color: #f8f9fa;
}
.course-info .sidebar-articles__list .sidebar-articles__item:hover .side-bar__articles-icon,
.course-info .sidebar-articles__list .last-articles__item:hover .side-bar__articles-icon,
.course-info .last-articles__list .sidebar-articles__item:hover .side-bar__articles-icon,
.course-info .last-articles__list .last-articles__item:hover .side-bar__articles-icon {
  color: #2bce56;
}
.course-info .sidebar-articles__list .sidebar-articles__item .side-bar__articles-icon,
.course-info .sidebar-articles__list .last-articles__item .side-bar__articles-icon,
.course-info .last-articles__list .sidebar-articles__item .side-bar__articles-icon,
.course-info .last-articles__list .last-articles__item .side-bar__articles-icon {
  font-size: 1.4rem;
  color: #909aa7;
  transition: all 0.4s ease;
}
.course-info .sidebar-articles__list .sidebar-articles__item .sidebar-articles__link,
.course-info .sidebar-articles__list .last-articles__item .sidebar-articles__link,
.course-info .last-articles__list .sidebar-articles__item .sidebar-articles__link,
.course-info .last-articles__list .last-articles__item .sidebar-articles__link {
  font-size: 1.3rem;
  margin-right: 0.3rem;
}
.course-info .sidebar-articles__list .sidebar-articles__item .last-articles__link,
.course-info .sidebar-articles__list .last-articles__item .last-articles__link,
.course-info .last-articles__list .sidebar-articles__item .last-articles__link,
.course-info .last-articles__list .last-articles__item .last-articles__link {
  font-size: 1.4rem;
}

/* Finish Sidebar Styles */

/*# sourceMappingURL=blog.css.map */
