html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "IranSans";
  src: url(../fonts/IRANSans/IRANSans_Medium.ttf);
}
/* Start Default Styles */
*,
*::after,
*::before {
  outline: none;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
html body {
  line-height: 1.6;
  font-size: 1.6rem;
  font-family: IranSans;
  direction: rtl;
}
html body a {
  text-decoration: none;
  color: #464749;
  transition: all 400ms ease;
}
html body a:hover {
  color: #1e83f0;
}
html body i {
  user-select: none;
}

/* Finish Default Styles */
/* Start Top-Bar Styles */
.top-bar {
  color: #464749;
  padding: 1rem 0;
  background-color: #f0f2f7;
}
.top-bar .container-fluid .top-bar__content {
  display: flex;
  justify-content: space-between;
  padding: 0 1.5rem;
}
.top-bar .container-fluid .top-bar__content .top-bar__right {
  display: flex;
}
.top-bar .container-fluid .top-bar__content .top-bar__right .top-bar__menu {
  display: flex;
}
.top-bar .container-fluid .top-bar__content .top-bar__right .top-bar__menu .top-bar__item .top-bar__link {
  color: #464749;
  transition: all 0.4s ease;
  font-size: 1.5rem;
  padding: 0 1rem;
}
.top-bar .container-fluid .top-bar__content .top-bar__right .top-bar__menu .top-bar__item .top-bar__link:hover {
  color: #1e83f0;
}
.top-bar .container-fluid .top-bar__content .top-bar__left {
  display: flex;
}
.top-bar .container-fluid .top-bar__content .top-bar__left .top-bar__email {
  display: flex;
  align-items: center;
}
.top-bar .container-fluid .top-bar__content .top-bar__left .top-bar__email .top-bar__email-text {
  padding: 0 0.8rem;
}
.top-bar .container-fluid .top-bar__content .top-bar__left .top-bar__email .top-bar__email-icon {
  color: #2bce56;
  font-size: 2rem;
}
.top-bar .container-fluid .top-bar__content .top-bar__left .top-bar__phone {
  display: flex;
  align-items: center;
}
.top-bar .container-fluid .top-bar__content .top-bar__left .top-bar__phone .top-bar__phone-text {
  padding: 0 0.8rem;
}
.top-bar .container-fluid .top-bar__content .top-bar__left .top-bar__phone .top-bar__phone-icon {
  color: #2bce56;
  font-size: 2rem;
}

/* Finish Top-Bar Styles */
/* Start Navbar Styles */
.main-header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 1.5rem;
}
.main-header__content .main-header__right {
  display: flex;
}
.main-header__content .main-header__right .main-header__menu {
  display: flex;
}
.main-header__content .main-header__right .main-header__menu .main-header__item {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0 1rem;
}
.main-header__content .main-header__right .main-header__menu .main-header__item .main-header__link {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.main-header__content .main-header__right .main-header__menu .main-header__item .main-header__link:hover {
  color: #7f8187;
}
.main-header__content .main-header__right .main-header__menu .main-header__item .main-header__link .main-header__link-icon {
  margin-right: 1rem;
}
.main-header__content .main-header__right .main-header__menu .main-header__item .main-header__dropdown {
  position: absolute;
  top: 5.5rem;
  left: 0;
  right: 0;
  background-color: #fff;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 0.5rem;
  width: 24rem;
  z-index: 1;
  padding: 1rem 0;
  border-bottom: 3px solid #2bce56;
  opacity: 0;
  visibility: hidden;
}
.main-header__content .main-header__right .main-header__menu .main-header__item .main-header__dropdown .main-header__dropdown-link {
  display: block;
  padding: 0.6rem 2rem;
  font-size: 1.4rem;
  color: #464749;
  transition: all 0.4s ease;
}
.main-header__content .main-header__right .main-header__menu .main-header__item .main-header__dropdown .main-header__dropdown-link:hover {
  color: #1e83f0;
}
.main-header__content .main-header__right .main-header__menu .main-header__item:hover .main-header__dropdown {
  opacity: 1;
  visibility: visible;
  top: 6.5rem;
}
.main-header__content .main-header__left {
  display: flex;
  align-items: center;
}
.main-header__content .main-header__left .main-header__search-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4.3rem;
  height: 4.3rem;
  border-radius: 0.5rem;
  background-color: #2bce56;
}
.main-header__content .main-header__left .main-header__search-btn .main-header__search-icon {
  color: #fff;
  font-size: 2.2rem;
}
.main-header__content .main-header__left .main-header__cart-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4.3rem;
  height: 4.3rem;
  border-radius: 0.5rem;
  margin-right: 1rem;
  background-color: #f0f2f7;
}
.main-header__content .main-header__left .main-header__cart-btn .main-header__cart-icon {
  color: #464749;
  font-size: 2.2rem;
  transition: all 0.4s ease;
}
.main-header__content .main-header__left .main-header__cart-btn:hover .main-header__cart-icon {
  color: #1e83f0;
}
.main-header__content .main-header__left .main-header__profile {
  display: flex;
  align-items: center;
  padding: 0.6rem 1.5rem;
  border: 2px solid #2bce56;
  border-radius: 0.5rem;
  margin-right: 1rem;
  transition: all 0.4s ease;
  color: #2bce56;
  height: 4.3rem;
}
.main-header__content .main-header__left .main-header__profile:hover {
  background-color: #2bce56;
  color: #fff;
}

/* Finish Navbar Styles */
/* Start Footer Styles */
.footer .footer-widgets {
  background-color: #f0f2f7;
  border-radius: 1rem;
  padding: 4rem 3.5rem;
  position: relative;
  margin-bottom: 5rem;
}
.footer .footer-widgets .footer-widget__item .footer-widget__title {
  display: block;
  font-size: 1.7rem;
  font-weight: bold;
  margin-bottom: 2rem;
  position: relative;
}
.footer .footer-widgets .footer-widget__item .footer-widget__title::before {
  content: "";
  position: absolute;
  width: 3.5rem;
  height: 3.5rem;
  background-color: #2bce56;
  border-radius: 0.7rem;
  right: 1rem;
  opacity: 0.3;
  transform: rotate(45deg);
}
.footer .footer-widgets .footer-widget__item .footer-widget__text {
  color: #7d7e7f;
}
.footer .footer-widgets .footer-widget__item .footer-widget__links {
  display: flex;
  flex-direction: column;
}
.footer .footer-widgets .footer-widget__link {
  display: block;
  margin-bottom: 1rem;
}
.footer .footer-widgets::before {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  bottom: -1.5rem;
  margin: 0 auto;
  height: 4rem;
  width: 50rem;
  background-color: #2bce56;
  z-index: -1;
  border-radius: 5rem;
}
.footer .footer__copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f2f7;
  padding: 3rem 0;
}
.footer .footer__copyright .footer__copyright-text {
  color: #464749;
  font-weight: bold;
}

/* Finish Footer Styles */
/* Start Helper Classes */
.introduction .introduction__item .introduction__title {
  font-size: 2rem;
  color: #444446;
  font-weight: bold;
  line-height: 1.2;
  position: relative;
}
.introduction .introduction__item .introduction__title::before {
  content: "";
  position: absolute;
  right: -1rem;
  width: 0.4rem;
  height: 4.4rem;
  background-color: #2bce56;
  border-radius: 5rem;
  transform: rotate(8deg);
}
.introduction .introduction__item .introduction__title::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  max-width: 250px;
  height: 60%;
  background-color: rgba(43, 206, 86, 0.2);
}

/* Finish Helper Classes */
/* Start breadcrumb Styles */
.breadcrumb {
  margin-bottom: 2rem;
}
.breadcrumb .breadcrumb__content {
  display: flex;
  background-color: #f0f2f7;
  padding: 1.5rem 2rem;
  border-radius: 1rem;
}
.breadcrumb .breadcrumb__content .breadcrumb__home-content-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.6rem;
  height: 3.6rem;
  background-color: #fff;
  border-radius: 1rem;
}
.breadcrumb .breadcrumb__content .breadcrumb__home-content-icon .breadcrumb__home-icon {
  font-size: 1.8rem;
  color: #909aa7;
}
.breadcrumb .breadcrumb__content .breadcrumb__list {
  display: flex;
  align-items: center;
  margin-right: 1.5rem;
}
.breadcrumb .breadcrumb__content .breadcrumb__list .breadcrumb__item .breadcrumb__link {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  color: #7f8187;
}
.breadcrumb .breadcrumb__content .breadcrumb__list .breadcrumb__item .breadcrumb__link:hover {
  color: #7f817f;
}
.breadcrumb .breadcrumb__content .breadcrumb__list .breadcrumb__item .breadcrumb__link .breadcrumb__icon {
  color: #7f817f;
  font-size: 1.5rem;
  margin: 0 0.7rem;
}

/* Finish breadcrumb Styles */
/* Start Course Info Styles */
.course-info {
  margin-bottom: 6rem;
}
.course-info .course-info__link {
  font-size: 1.2rem;
  color: #2bce56;
  border-radius: 0.3rem;
  padding: 0.4rem 1rem;
  background-color: rgba(43, 206, 86, 0.2);
}
.course-info .course-info__link:hover {
  color: #1e83f0;
}
.course-info .course-info__title {
  margin: 2rem 0;
  font-weight: bold;
  font-size: 2.4rem;
  color: #464749;
}
.course-info .course-info__text {
  margin-bottom: 3rem;
  font-size: 1.6rem;
  color: #7b877a;
}
.course-info .course-info__social-media-item {
  color: #b1bbbf;
  margin-left: 1.7rem;
  transition: all 0.4s ease;
}
.course-info .course-info__social-media-item:hover {
  color: #1e83f0;
}
.course-info .course-info__social-media-item .course-info__icon {
  font-size: 2rem;
}
.course-info .course-info__video {
  width: 100%;
  border-radius: 1rem;
}

/* Finish Course Info Styles */
/* Start Course Boxes Styles */
.course-boxes__box {
  display: flex;
  border-radius: 0.5rem;
  padding: 1.8rem 2rem;
  box-shadow: 0 5px 30px rgba(70, 72, 77, 0.08);
  margin: 1rem 0;
}
.course-boxes__box .course-boxes__box-right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.course-boxes__box .course-boxes__box-right .course-boxes__box-right-icon {
  font-size: 3.5rem;
  color: #2bce56;
}
.course-boxes__box .course-boxes__box-left {
  display: flex;
  flex-direction: column;
  margin-right: 1.5rem;
}
.course-boxes__box .course-boxes__box-left .course-boxes__box-left-title {
  font-size: 1.6rem;
  color: #858c96;
}
.course-boxes__box .course-boxes__box-left .course-boxes__box-left-subtitle {
  font-size: 1.6rem;
  color: #7d7e7f;
}

/* finish Course Boxes Styles */
/* Start Course Progress Styles */
.course-progress {
  border-radius: 1rem;
  margin: 3rem 0;
  padding: 2rem 2rem 1.2rem 2rem;
  background-color: #f0f2f7;
}
.course-progress .course-progress__header {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}
.course-progress .course-progress__header .course-progress__icon {
  font-size: 2.5rem;
  color: #7b867f;
}
.course-progress .course-progress__header .course-progress__title {
  margin-right: 1.5rem;
  color: #7b868a;
  font-size: 1.5rem;
}
.course-progress .course-progress__bar {
  border-radius: 10rem;
  height: 1rem;
}
.course-progress .course-progress__bar .progress-bar {
  background-color: #1fbd50;
}

/* Finish Course Progress Styles */
/* Start Intoduction Styles */
.introduction {
  padding: 3rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 13px 1px rgba(70, 72, 77, 0.08);
}
.introduction .introduction__item .introduction__img {
  margin-top: 3rem;
  display: block;
  border-radius: 1rem;
}
.introduction .introduction__item .introduction__text {
  margin-top: 2rem;
  color: #7a7a7a;
  font-size: 1.5rem;
}
.introduction .introduction__btns {
  margin-top: 3.4rem;
}
.introduction .introduction__btns .introduction__btns-item {
  color: #2bce56;
  border: 2px solid #2bce56;
  border-radius: 0.5rem;
  padding: 0.8rem 1.5rem;
  font-weight: bold;
  font-size: 1.5rem;
}
.introduction .introduction__btns .introduction__btns-item:hover {
  color: #fff;
  background-color: #2bce56;
}
.introduction .introduction__topic {
  margin-top: 4rem;
}
.introduction .introduction__topic .accordion {
  margin-bottom: 2rem;
}
.introduction .introduction__topic .accordion .accordion-item {
  background-color: #f7f9fa;
}
.introduction .introduction__topic .accordion .accordion-item .accordion-button {
  background-color: #f7f9fa;
  font-size: 1.5rem;
  padding: 1.25rem;
}
.introduction .introduction__topic .accordion .accordion-item .accordion-button::after {
  position: absolute;
  left: 1.5rem;
  width: 2rem;
  height: 2rem;
  background-position: center;
}
.introduction .introduction__topic .accordion .accordion-item .introduction__accordion-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1.25rem;
}
.introduction .introduction__topic .accordion .accordion-item .introduction__accordion-body .introduction__accordion-right {
  display: flex;
  align-items: center;
}
.introduction .introduction__topic .accordion .accordion-item .introduction__accordion-body .introduction__accordion-right .introduction__accordion-count {
  width: 3.5rem;
  height: 3.5rem;
  border: 1px solid #bfbfbf;
  color: #656464;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.introduction .introduction__topic .accordion .accordion-item .introduction__accordion-body .introduction__accordion-right .introduction__accordion-icon {
  margin: 0 1.5rem;
  color: rgba(147, 147, 154, 0.6392156863);
  font-size: 1.8rem;
}
.introduction .introduction__topic .accordion .accordion-item .introduction__accordion-body .introduction__accordion-left .introduction__accordion-time {
  color: #7a7a7a;
}

/* Finish Intoduction Styles */
/* Start Teacher Details Styles */
.teacher-details {
  border-radius: 0.5rem;
  padding: 2rem;
  margin-top: 2rem;
  box-shadow: 0 0 13px 13px rgba(70, 72, 77, 0.08);
}
.teacher-details .teacher-details__header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.teacher-details .teacher-details__header .teacher-details__header-right {
  display: flex;
  align-items: center;
}
.teacher-details .teacher-details__header .teacher-details__header-right .teacher-details__header-img {
  width: 62px;
  height: auto;
  border-radius: 50%;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1294117647);
}
.teacher-details .teacher-details__header .teacher-details__header-right .teacher-details__header-titles {
  display: flex;
  flex-direction: column;
  margin-right: 2rem;
}
.teacher-details .teacher-details__header .teacher-details__header-right .teacher-details__header-titles .teacher-details__header-link {
  text-decoration: none;
  color: #7b868a;
}
.teacher-details .teacher-details__header .teacher-details__header-right .teacher-details__header-titles .teacher-details__header-skill {
  color: #7b868a;
  font-size: 1.2rem;
}
.teacher-details .teacher-details__header .teacher-details__header-left {
  display: flex;
  align-items: center;
  color: #fff;
  background-color: #2bce56;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}
.teacher-details .teacher-details__header .teacher-details__header-left .teacher-details__header-icon {
  font-size: 1.8rem;
}
.teacher-details .teacher-details__header .teacher-details__header-left .teacher-details__header-name {
  font-size: 1.6rem;
  font-weight: bold;
  margin-right: 0.4rem;
}
.teacher-details .teacher-details__footer {
  margin-top: 1rem;
  color: #7b868a;
  font-size: 14px;
}

/* Finish Teacher Details Styles */

/*# sourceMappingURL=course.css.map */
