html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "IranSans";
  src: url(../fonts/IRANSans/IRANSans_Medium.ttf);
}
/* Start Top-Bar Styles */
.top-bar {
  color: #464749;
  padding: 2rem 0;
  background-color: #f0f2f7;
}
.top-bar .container-fluid .top-bar__content {
  display: flex;
  justify-content: space-between;
  padding: 0 1.5rem;
}
.top-bar .container-fluid .top-bar__content .top-bar__right {
  display: flex;
}
.top-bar .container-fluid .top-bar__content .top-bar__right .top-bar__menu {
  display: flex;
}
.top-bar .container-fluid .top-bar__content .top-bar__right .top-bar__menu .top-bar__item .top-bar__link {
  color: #464749;
  transition: all 0.4s ease;
  font-size: 1.5rem;
  padding: 0 1rem;
}
.top-bar .container-fluid .top-bar__content .top-bar__right .top-bar__menu .top-bar__item .top-bar__link:hover {
  color: #1e83f0;
}
.top-bar .container-fluid .top-bar__content .top-bar__left {
  display: flex;
}
.top-bar .container-fluid .top-bar__content .top-bar__left .top-bar__email {
  display: flex;
  align-items: center;
}
.top-bar .container-fluid .top-bar__content .top-bar__left .top-bar__email .top-bar__email-text {
  padding: 0 0.8rem;
}
.top-bar .container-fluid .top-bar__content .top-bar__left .top-bar__email .top-bar__email-icon {
  color: #2bce56;
  font-size: 2rem;
}
.top-bar .container-fluid .top-bar__content .top-bar__left .top-bar__phone {
  display: flex;
  align-items: center;
}
.top-bar .container-fluid .top-bar__content .top-bar__left .top-bar__phone .top-bar__phone-text {
  padding: 0 0.8rem;
}
.top-bar .container-fluid .top-bar__content .top-bar__left .top-bar__phone .top-bar__phone-icon {
  color: #2bce56;
  font-size: 2rem;
}

/* Finish Top-Bar Styles */
/* Start Default Styles */
*,
*::after,
*::before {
  outline: none;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
html body {
  line-height: 1.6;
  font-size: 1.6rem;
  font-family: IranSans;
  direction: rtl;
}
html body a {
  text-decoration: none;
  color: #464749;
  transition: all 400ms ease;
}
html body a:hover {
  color: #1e83f0;
}
html body i {
  user-select: none;
}

/* Finish Default Styles */
/* Start Navbar Styles */
.main-header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 1.5rem;
}
.main-header__content .main-header__right {
  display: flex;
}
.main-header__content .main-header__right .main-header__menu {
  display: flex;
}
.main-header__content .main-header__right .main-header__menu .main-header__item {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0 1rem;
}
.main-header__content .main-header__right .main-header__menu .main-header__item .main-header__link {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.main-header__content .main-header__right .main-header__menu .main-header__item .main-header__link:hover {
  color: #7f8187;
}
.main-header__content .main-header__right .main-header__menu .main-header__item .main-header__link .main-header__link-icon {
  margin-right: 1rem;
}
.main-header__content .main-header__right .main-header__menu .main-header__item .main-header__dropdown {
  position: absolute;
  top: 5.5rem;
  left: 0;
  right: 0;
  background-color: #fff;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 0.5rem;
  width: 24rem;
  z-index: 1;
  padding: 1rem 0;
  border-bottom: 3px solid #2bce56;
  opacity: 0;
  visibility: hidden;
}
.main-header__content .main-header__right .main-header__menu .main-header__item .main-header__dropdown .main-header__dropdown-link {
  display: block;
  padding: 0.6rem 2rem;
  font-size: 1.4rem;
  color: #464749;
  transition: all 0.4s ease;
}
.main-header__content .main-header__right .main-header__menu .main-header__item .main-header__dropdown .main-header__dropdown-link:hover {
  color: #1e83f0;
}
.main-header__content .main-header__right .main-header__menu .main-header__item:hover .main-header__dropdown {
  opacity: 1;
  visibility: visible;
  top: 6.5rem;
}
.main-header__content .main-header__left {
  display: flex;
  align-items: center;
}
.main-header__content .main-header__left .main-header__search-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4.3rem;
  height: 4.3rem;
  border-radius: 0.5rem;
  background-color: #2bce56;
}
.main-header__content .main-header__left .main-header__search-btn .main-header__search-icon {
  color: #fff;
  font-size: 2.2rem;
}
.main-header__content .main-header__left .main-header__cart-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4.3rem;
  height: 4.3rem;
  border-radius: 0.5rem;
  margin-right: 1rem;
  background-color: #f0f2f7;
}
.main-header__content .main-header__left .main-header__cart-btn .main-header__cart-icon {
  color: #464749;
  font-size: 2.2rem;
  transition: all 0.4s ease;
}
.main-header__content .main-header__left .main-header__cart-btn:hover .main-header__cart-icon {
  color: #1e83f0;
}
.main-header__content .main-header__left .main-header__profile {
  display: flex;
  align-items: center;
  padding: 0.6rem 1.5rem;
  border: 2px solid #2bce56;
  border-radius: 0.5rem;
  margin-right: 1rem;
  transition: all 0.4s ease;
  color: #2bce56;
  height: 4.3rem;
}
.main-header__content .main-header__left .main-header__profile:hover {
  background-color: #2bce56;
  color: #fff;
}

/* Finish Navbar Styles */
/* Start Landing Styles */
.landing {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/background_landing.png) no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  padding: 9rem 0;
  color: #fff;
}
.landing .landing__title {
  font-size: 3.4rem;
  font-weight: bold;
}
.landing .landing__subtitle {
  font-size: 1.8rem;
  margin-top: 0.3rem;
}
.landing .landing__searchbar {
  width: 700px;
  position: relative;
  margin: 3.5rem auto;
}
.landing .landing__searchbar .landing__searchbar-input {
  width: 100%;
  padding: 2.5rem;
  border: none;
  border-radius: 1rem;
}
.landing .landing__searchbar .landing__searchnar-btn {
  border: none;
  background-color: #2bce56;
  position: absolute;
  left: 1rem;
  width: 6rem;
  top: 0.7rem;
  height: 6rem;
  border-radius: 1rem;
}
.landing .landing__searchbar .landing__searchnar-btn .landing__search-icon {
  font-size: 2.8rem;
  color: #fff;
}
.landing .landing-status {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.landing .landing-status .landing-status__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.landing .landing-status .landing-status__item svg {
  fill: #fff;
}
.landing .landing-status .landing-status__item .landing-status__count {
  font-weight: bold;
  font-size: 2rem;
  margin-top: 0.5rem;
}
.landing .landing-status .landing-status__item .landing-status__text {
  font-weight: bold;
}

/* Finish Landing Styles */
/* Start Latest Courses Styles */
.courses {
  margin: 4rem 0;
}
.courses .courses-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.courses .courses-header .courses-header__right {
  display: flex;
  flex-direction: column;
}
.courses .courses-header .courses-header__right .courses-header__text {
  color: #9c9c9c;
  font-size: 1.5rem;
}
.courses .courses-header .courses-header__left .courses-header__link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #2bce56;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}
.courses .courses-header .courses-header__left .courses-header__icon {
  margin-right: 0.5rem;
  font-size: 1.5rem;
}

/* Finish Latest Courses Styles */

/*# sourceMappingURL=style.css.map */
