/* Start Top-Bar Styles */

.top-bar {
    color: $dark-color;
    padding: 2rem 0;
    background-color: #f0f2f7;

    .container-fluid {
        .top-bar__content {
            display: flex;
            justify-content: space-between;
            padding: 0 1.5rem;

            .top-bar__right {
                display: flex;

                .top-bar__menu {
                    display: flex;

                    .top-bar__item {
                        .top-bar__link {
                            color: $dark-color;
                            transition: all .4s ease;
                            font-size: 1.5rem;
                            padding: 0 1rem;

                            &:hover {
                                color: #1e83f0;
                            }
                        }
                    }
                }
            }

            .top-bar__left {
                display: flex;

                .top-bar__email {
                    display: flex;
                    align-items: center;

                    .top-bar__email-text {
                        padding: 0 .8rem;
                    }

                    .top-bar__email-icon {
                        color: $primary-color;
                        font-size: 2rem;
                    }
                }

                .top-bar__phone {
                    display: flex;
                    align-items: center;

                    .top-bar__phone-text {
                        padding: 0 .8rem;
                    }

                    .top-bar__phone-icon {
                        color: $primary-color;
                        font-size: 2rem;
                    }
                }
            }
        }
    }
}

/* Finish Top-Bar Styles */