@import "reset";
@import "variables";
@import "fonts";
@import "responsive";
@import "top-bar";
@import "navbar";
@import "default";
@import "footer";
@import "course-box";

/* Start Helper Classes */

%Title {
	font-size: 2rem;
	color: #444446;
	font-weight: bold;
	line-height: 1.2;
	position: relative;

	&::before {
		content: "";
		position: absolute;
		right: -1rem;
		width: 0.4rem;
		height: 4.4rem;
		background-color: $primary-color;
		border-radius: 5rem;
		transform: rotate(8deg);
	}

	&::after {
		content: "";
		position: absolute;
		right: 0;
		bottom: 0;
		width: 100%;
		max-width: 250px;
		height: 60%;
		background-color: rgba(43, 206, 86, 0.2);
	}
}

/* Finish Helper Classes */

/* Start Landing Styles */

.landing {
	background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/background_landing.png) no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
	text-align: center;
	padding: 9rem 0;
	color: $white-color;

	.landing__title {
		font-size: 3.4rem;
		font-weight: bold;
	}

	.landing__subtitle {
		font-size: 1.8rem;
		margin-top: 0.3rem;
	}

	.landing__searchbar {
		width: 700px;
		position: relative;
		margin: 3.5rem auto;

		.landing__searchbar-input {
			width: 100%;
			padding: 2.5rem;
			border: none;
			border-radius: 1rem;
		}

		.landing__searchnar-btn {
			border: none;
			background-color: $primary-color;
			position: absolute;
			left: 1rem;
			width: 6rem;
			top: 0.7rem;
			height: 6rem;
			border-radius: 1rem;

			.landing__search-icon {
				font-size: 2.8rem;
				color: $white-color;
			}
		}
	}

	.landing-status {
		display: flex;
		justify-content: space-evenly;
		align-items: center;

		.landing-status__item {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			svg {
				fill: $white-color;
			}

			.landing-status__count {
				font-weight: bold;
				font-size: 2rem;
				margin-top: 0.5rem;
			}

			.landing-status__text {
				font-weight: bold;
			}
		}
	}
}

/* Finish Landing Styles */

/* Start Latest Courses Styles */

.courses {
	margin: 4rem 0;

	.courses-header {
		display: flex;
		justify-content: space-between;
		align-items: center;

		.courses-header__right {
			display: flex;
			flex-direction: column;

			.courses-header__title {
				@extend %Title;
			}

			.courses-header__text {
				color: #9c9c9c;
				font-size: 1.5rem;
			}
		}

		.courses-header__left {
			.courses-header__link {
				display: flex;
				align-items: center;
				justify-content: center;
				color: $white-color;
				background-color: $primary-color;
				padding: 0.5rem 1rem;
				border-radius: 0.5rem;
			}

			.courses-header__icon {
				margin-right: 0.5rem;
				font-size: 1.5rem;
			}
		}
	}

	.courses-content {
		@include CourseBox($type: course);
	}
}

/* Finish Latest Courses Styles */

/* Start About Us Styles */

.about-us {
	margin: 6rem 0;

	.about-us__header {
		display: flex;
		flex-direction: column;

		.about-us__title {
			@extend %Title;
		}

		.about-us__subtitle {
			color: #9c9c9c;
			font-size: 1.5rem;
		}
	}

	.about-us__box {
		display: flex;
		align-items: center;
		box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.12);
		border-radius: 0.5rem;
		margin: 2rem 0;
		padding: 2rem 1.5rem;

		.about-us__box-right {
			.about-us__icon {
				color: #666;
				font-size: 6.5rem;
			}
		}

		.about-us__box-left {
			display: flex;
			flex-direction: column;
			margin-right: 1rem;

			.about-us__box-title {
				font-weight: bold;
				font-size: 1.8rem;
			}
		}
	}
}

/* Finish About Us Styles */

/* Start Popular Courses Styles */

.popular {
	margin: 4rem 0;

	.popular__header {
		.popular__header-title {
			@extend %Title;
		}
	}

	.popular__slider {
		@include CourseBox($type: slider);
	}
}

/* Finish Popular Courses Styles */

/* Start Pre-sell Courses Styles */

.presell {
	margin: 4rem 0;

	.presell__header {
		.presell__header-title {
			@extend %Title;
		}
	}

	.presell__slider {
		@include CourseBox($type: slider);
	}
}

/* Finish Pre-sell Courses Styles */

/* Start Articles Styles */

.articles {
	margin-bottom: 2rem;

	.articles-header {
		display: flex;
		justify-content: space-between;
		align-items: center;

		.articles-header__right {
			display: flex;
			flex-direction: column;

			.articles-header__title {
				@extend %Title;
			}

			.articles-header__text {
				color: #9c9c9c;
				font-size: 1.5rem;
			}
		}

		.articles-header__left {
			.articles-header__link {
				display: flex;
				align-items: center;
				justify-content: center;
				color: $white-color;
				background-color: $primary-color;
				padding: 0.5rem 1rem;
				border-radius: 0.5rem;
			}

			.articles-header__icon {
				margin-right: 0.5rem;
				font-size: 1.5rem;
			}
		}
	}

	.article-content {
		.article-card {
			margin: 3rem 0;
			transition: all 0.4s ease;
			border-radius: 1rem;
			box-shadow: 0 5px 30px rgba(70, 72, 77, 0.08);

			&:hover {
				transform: translateY(-0.6rem);
			}

			.article-card__img {
				border-radius: 1rem 1rem 0 0;
			}

			.article-card__content {
				padding: 1rem 2rem 3rem 2rem;

				.article-card__link {
					font-weight: bold;
				}

				.article-card__text {
					color: #898989;
					font-size: 1.2rem;
					padding: 1rem 0 2.5rem 0;
				}

				.article-card__btn {
					color: $primary-color;
					border: 2px solid $primary-color;
					font-size: 1.4rem;
					padding: 0.5rem 1rem;
					border-radius: 0.5rem;
					transition: all 0.4s ease;

					&:hover {
						color: $white-color;
						background-color: $primary-color;
					}
				}
			}
		}
	}
}

/* Finish Articles Styles */

//  sass --watch sass/index.scss css/style.css
