@import "reset";
@import "variables";
@import "fonts";
@import "responsive";
@import "top-bar";
@import "navbar";
@import "default";
@import "footer";
@import "breadcrumb";
@import "sidebar-courses-box";

/* Start Helper Classes */

%paragraph {
	font-size: 1.5rem;
	line-height: 3rem;
	color: #7d7d7f;
}

/* Finish Helper Classes */

/* Start Articles Details Styles */

.article {
	padding: 2.4rem;
	border-radius: 0.5rem;
	box-shadow: 0 5px 3px rgba(70, 72, 77, 0.08);

	.article__title {
		font-size: 2.6rem;
		font-weight: bold;
		color: $dark-color;
		border-bottom: 2px solid #f3f3f3;
		padding-bottom: 1rem;
	}

	.article__header {
		display: flex;
		align-items: center;
		padding-top: 1rem;

		.article-header__item {
			margin-left: 2rem;

			.article__header-icon {
				font-size: 1.7rem;
				color: #c7c7c7;
			}

			.article-header__text {
				font-size: 1.2rem;
				color: #8f8f8f;
			}
		}
	}

	.article__banner {
		margin-top: 1.4rem;
		display: block;
		margin: 0 auto;
	}

	.article__score {
		display: flex;
		align-items: center;
		margin: 2rem 0;

		.article__score-icon {
			margin-left: -0.4rem;
		}

		.article__score-text {
			margin-right: 2rem;
			font-size: 1.7rem;
			color: #7d7d7f;
		}
	}

	.article__paragraph {
		@extend %paragraph;
	}

	.article-read {
		background-color: #f2f2f2;
		border-radius: 3rem;
		padding: 2rem 3rem;
		margin: 3rem 0;

		.article-read__title {
			display: block;
			color: #333;
			font-size: 1.5rem;
			margin-bottom: 0.5rem;
			font-weight: bold;
		}

		.article-read__link {
			line-height: 2;
			font-size: 1.5rem;
			color: #1e83f0;

			&:hover {
				text-decoration: underline;
			}
		}
	}
	.article__secondary-banner {
		display: block;
		margin: 0 auto;
	}

	.article-section {
		margin: 5rem 0;

		.article-section__title {
			font-size: 2.4rem;
			color: #008c25;
			font-weight: bold;
			line-height: 1.2rem;
		}

		.article-section__text {
			@extend %paragraph;
			margin: 2rem 0;
		}

		.article-section__img {
			display: block;
			margin: 0 auto;
		}
	}

	.article-social-media {
		display: flex;
		align-items: center;

		.article-social-media__text {
			font-size: 1.5rem;
			color: #7b7d7f;
		}

		.article-social-media__link {
			display: flex;
			align-items: center;
			margin: 0.5rem;
			color: #7b868a;

			&:hover {
				color: #1e83f0;
			}
		}
	}
}

.suggestion-articles {
	margin: 4rem 0;
	padding: 3.5rem 2.5rem;
	border-radius: 0.5rem;
	background-color: #f0f2f7;

	.suggestion-articles__right,
	.suggestion-articles__left {
		display: flex;
		align-items: center;

		.suggestion-articles__icon-link {
			color: #adb5db;
			text-align: center;
			margin: 0 2rem;

			&:hover {
				color: #1e83f0;
			}
		}
	}

	.suggestion-articles__right {
		position: relative;

		&::before {
			content: "قدیمی تر";
			position: absolute;
			top: -2rem;
			left: 2rem;
			font-size: 1.8rem;
			color: #adb5db;
			font-weight: bold;
			transform: rotate(180deg);
		}
	}

	.suggestion-articles__left {
		flex-direction: row-reverse;
		position: relative;

		&::before {
			content: "جدید تر";
			position: absolute;
			top: -2rem;
			right: 0rem;
			font-size: 1.8rem;
			color: #adb5db;
		}
	}
}

.comments {
	display: flex;
	flex-direction: column;

	.comments__title {
		color: $dark-color;
		font-size: 1.2rem;
	}

	.comments__text {
		margin: 1.5rem 0;
		font-size: 1.5rem;
	}

	.comments__content {
		display: flex;
		flex-direction: column;

		.comments__content-title {
			font-size: 1.5rem;
			color: #6c757d;
		}

		.comments__content-textarea {
			height: 18.5rem;
			border-radius: 0.5rem;
			border: 1px solid #dcdcdc;
			box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.07);
		}
	}

	.comments__button {
		margin-top: 2rem;
		max-width: 15rem;
		padding: 0.8rem 1.7rem;
		background-color: $primary-color;
		color: $white-color;
		border: none;
		border-radius: 0.5rem;
		font-size: 1.5rem;
		margin-bottom: 3rem;
	}
}

/* Finish Articles Details Styles */

/* Start Sidebar Styles */

.course-info {
	overflow: hidden;

	.course-info__courses-title {
		position: relative;

		&::before {
			content: "";
			position: absolute;
			width: 22px;
			height: 39px;
			background-color: $primary-color;
			border-top-left-radius: 8px;
			border-bottom-left-radius: 12px;
			right: -27px;
			top: -10px;
			transform: skew(-10deg);
		}
	}

	.sidebar-articles__list,
	.last-articles__list {
		margin-top: 2rem;

		.sidebar-articles__item,
		.last-articles__item {
			display: flex;
			align-items: center;
			border-bottom: 1px solid #eeeeee;
			padding: 0.9rem 1.3rem 0.9rem 1rem;
			transition: all 0.4s ease;

			&:hover {
				padding-right: 2rem;
				background-color: #f8f9fa;

				.side-bar__articles-icon {
					color: $primary-color;
				}
			}

			.side-bar__articles-icon {
				font-size: 1.4rem;
				color: #909aa7;
				transition: all 0.4s ease;
			}

			.sidebar-articles__link {
				font-size: 1.3rem;
				margin-right: 0.3rem;
			}

			.last-articles__link {
				font-size: 1.4rem;
			}
		}
	}
}

/* Finish Sidebar Styles */

// sass --watch sass/blog.scss css/blog.css
